.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-color);
}
.content{
    height: 90%;
    width: 100%;
    padding: 5px 3%;
}
.instant{
    height: 60%;
    width: 100%;
    border: 1px solid red;
}
.challenge{
     height: 40%;
    width: 100%;
    border: 1px solid rgb(0, 4, 84);
}